In [ ]:
import pandas as pd
import networkx as nx
import pickle
import random

In [41]:
with open('user_dict.pkl', 'rb') as f:
    a = pickle.load(f)

a[50471224]
# train 50471224
# val 412642667
# test 3385331674

8277

In [72]:
with open('user_label_pred.pkl', 'rb') as f:
    b = pickle.load(f)

df = pd.DataFrame.from_dict(b, orient='index',columns=['info'])
df = df.reset_index().rename(columns = {'index':'id'})
df.index -= 1
df
df1 = pd.DataFrame(columns=['id','info'])

df1['id'] = [c1 for c1 in range(205741, 250000)]
df1['info'] = [random.randint(0,1) for i in range(205741, 250000)]
df1.index += 205741
df = pd.concat([df,df1])
df

             id info
-1            0    0
 0            1    1
 1            2    0
 2            3    0
 3            4    1
...         ...  ...
 249995  249995    0
 249996  249996    1
 249997  249997    1
 249998  249998    0
 249999  249999    1

[250001 rows x 2 columns]

In [55]:
len(b)

205742

In [52]:
df_train = pd.DataFrame()

df_train['src'] = [c1 for c1 in range(8278, 10643)]
df_train['label'] = list(df['info'].loc[8277:10641])
df_train

        src label
0      8278     0
1      8279     1
2      8280     0
3      8281     1
4      8282     0
...     ...   ...
2360  10638     1
2361  10639     0
2362  10640     1
2363  10641     1
2364  10642     1

[2365 rows x 2 columns]

In [37]:
df

             id info
-1            0    0
 0            1    1
 1            2    0
 2            3    0
 3            4    1
...         ...  ...
 205736  228144    1
 205737  225453    1
 205738  224352    1
 205739  225658    1
 205740  227610    1

[205742 rows x 2 columns]

In [29]:
[c for c in range(8278,10643)]

[8278,
 8279,
 8280,
 8281,
 8282,
 8283,
 8284,
 8285,
 8286,
 8287,
 8288,
 8289,
 8290,
 8291,
 8292,
 8293,
 8294,
 8295,
 8296,
 8297,
 8298,
 8299,
 8300,
 8301,
 8302,
 8303,
 8304,
 8305,
 8306,
 8307,
 8308,
 8309,
 8310,
 8311,
 8312,
 8313,
 8314,
 8315,
 8316,
 8317,
 8318,
 8319,
 8320,
 8321,
 8322,
 8323,
 8324,
 8325,
 8326,
 8327,
 8328,
 8329,
 8330,
 8331,
 8332,
 8333,
 8334,
 8335,
 8336,
 8337,
 8338,
 8339,
 8340,
 8341,
 8342,
 8343,
 8344,
 8345,
 8346,
 8347,
 8348,
 8349,
 8350,
 8351,
 8352,
 8353,
 8354,
 8355,
 8356,
 8357,
 8358,
 8359,
 8360,
 8361,
 8362,
 8363,
 8364,
 8365,
 8366,
 8367,
 8368,
 8369,
 8370,
 8371,
 8372,
 8373,
 8374,
 8375,
 8376,
 8377,
 8378,
 8379,
 8380,
 8381,
 8382,
 8383,
 8384,
 8385,
 8386,
 8387,
 8388,
 8389,
 8390,
 8391,
 8392,
 8393,
 8394,
 8395,
 8396,
 8397,
 8398,
 8399,
 8400,
 8401,
 8402,
 8403,
 8404,
 8405,
 8406,
 8407,
 8408,
 8409,
 8410,
 8411,
 8412,
 8413,
 8414,
 8415,
 8416,
 8417,
 8418,
 8419,
 8420,
 8421,
 8422,
 8423,
 8424,
 8425,
 8426,
 8427,
 8428,
 8429,
 8430,
 8431,
 8432,
 8433,
 8434,
 8435,
 8436,
 8437,
 8438,
 8439,
 8440,
 8441,
 8442,
 8443,
 8444,
 8445,
 8446,
 8447,
 8448,
 8449,
 8450,
 8451,
 8452,
 8453,
 8454,
 8455,
 8456,
 8457,
 8458,
 8459,
 8460,
 8461,
 8462,
 8463,
 8464,
 8465,
 8466,
 8467,
 8468,
 8469,
 8470,
 8471,
 8472,
 8473,
 8474,
 8475,
 8476,
 8477,
 8478,
 8479,
 8480,
 8481,
 8482,
 8483,
 8484,
 8485,
 8486,
 8487,
 8488,
 8489,
 8490,
 8491,
 8492,
 8493,
 8494,
 8495,
 8496,
 8497,
 8498,
 8499,
 8500,
 8501,
 8502,
 8503,
 8504,
 8505,
 8506,
 8507,
 8508,
 8509,
 8510,
 8511,
 8512,
 8513,
 8514,
 8515,
 8516,
 8517,
 8518,
 8519,
 8520,
 8521,
 8522,
 8523,
 8524,
 8525,
 8526,
 8527,
 8528,
 8529,
 8530,
 8531,
 8532,
 8533,
 8534,
 8535,
 8536,
 8537,
 8538,
 8539,
 8540,
 8541,
 8542,
 8543,
 8544,
 8545,
 8546,
 8547,
 8548,
 8549,
 8550,
 8551,
 8552,
 8553,
 8554,
 8555,
 8556,
 8557,
 8558,
 8559,
 8560,
 8561,
 8562,
 8563,
 8564,
 8565,
 8566,
 8567,
 8568,
 8569,
 8570,
 8571,
 8572,
 8573,
 8574,
 8575,
 8576,
 8577,
 8578,
 8579,
 8580,
 8581,
 8582,
 8583,
 8584,
 8585,
 8586,
 8587,
 8588,
 8589,
 8590,
 8591,
 8592,
 8593,
 8594,
 8595,
 8596,
 8597,
 8598,
 8599,
 8600,
 8601,
 8602,
 8603,
 8604,
 8605,
 8606,
 8607,
 8608,
 8609,
 8610,
 8611,
 8612,
 8613,
 8614,
 8615,
 8616,
 8617,
 8618,
 8619,
 8620,
 8621,
 8622,
 8623,
 8624,
 8625,
 8626,
 8627,
 8628,
 8629,
 8630,
 8631,
 8632,
 8633,
 8634,
 8635,
 8636,
 8637,
 8638,
 8639,
 8640,
 8641,
 8642,
 8643,
 8644,
 8645,
 8646,
 8647,
 8648,
 8649,
 8650,
 8651,
 8652,
 8653,
 8654,
 8655,
 8656,
 8657,
 8658,
 8659,
 8660,
 8661,
 8662,
 8663,
 8664,
 8665,
 8666,
 8667,
 8668,
 8669,
 8670,
 8671,
 8672,
 8673,
 8674,
 8675,
 8676,
 8677,
 8678,
 8679,
 8680,
 8681,
 8682,
 8683,
 8684,
 8685,
 8686,
 8687,
 8688,
 8689,
 8690,
 8691,
 8692,
 8693,
 8694,
 8695,
 8696,
 8697,
 8698,
 8699,
 8700,
 8701,
 8702,
 8703,
 8704,
 8705,
 8706,
 8707,
 8708,
 8709,
 8710,
 8711,
 8712,
 8713,
 8714,
 8715,
 8716,
 8717,
 8718,
 8719,
 8720,
 8721,
 8722,
 8723,
 8724,
 8725,
 8726,
 8727,
 8728,
 8729,
 8730,
 8731,
 8732,
 8733,
 8734,
 8735,
 8736,
 8737,
 8738,
 8739,
 8740,
 8741,
 8742,
 8743,
 8744,
 8745,
 8746,
 8747,
 8748,
 8749,
 8750,
 8751,
 8752,
 8753,
 8754,
 8755,
 8756,
 8757,
 8758,
 8759,
 8760,
 8761,
 8762,
 8763,
 8764,
 8765,
 8766,
 8767,
 8768,
 8769,
 8770,
 8771,
 8772,
 8773,
 8774,
 8775,
 8776,
 8777,
 8778,
 8779,
 8780,
 8781,
 8782,
 8783,
 8784,
 8785,
 8786,
 8787,
 8788,
 8789,
 8790,
 8791,
 8792,
 8793,
 8794,
 8795,
 8796,
 8797,
 8798,
 8799,
 8800,
 8801,
 8802,
 8803,
 8804,
 8805,
 8806,
 8807,
 8808,
 8809,
 8810,
 8811,
 8812,
 8813,
 8814,
 8815,
 8816,
 8817,
 8818,
 8819,
 8820,
 8821,
 8822,
 8823,
 8824,
 8825,
 8826,
 8827,
 8828,
 8829,
 8830,
 8831,
 8832,
 8833,
 8834,
 8835,
 8836,
 8837,
 8838,
 8839,
 8840,
 8841,
 8842,
 8843,
 8844,
 8845,
 8846,
 8847,
 8848,
 8849,
 8850,
 8851,
 8852,
 8853,
 8854,
 8855,
 8856,
 8857,
 8858,
 8859,
 8860,
 8861,
 8862,
 8863,
 8864,
 8865,
 8866,
 8867,
 8868,
 8869,
 8870,
 8871,
 8872,
 8873,
 8874,
 8875,
 8876,
 8877,
 8878,
 8879,
 8880,
 8881,
 8882,
 8883,
 8884,
 8885,
 8886,
 8887,
 8888,
 8889,
 8890,
 8891,
 8892,
 8893,
 8894,
 8895,
 8896,
 8897,
 8898,
 8899,
 8900,
 8901,
 8902,
 8903,
 8904,
 8905,
 8906,
 8907,
 8908,
 8909,
 8910,
 8911,
 8912,
 8913,
 8914,
 8915,
 8916,
 8917,
 8918,
 8919,
 8920,
 8921,
 8922,
 8923,
 8924,
 8925,
 8926,
 8927,
 8928,
 8929,
 8930,
 8931,
 8932,
 8933,
 8934,
 8935,
 8936,
 8937,
 8938,
 8939,
 8940,
 8941,
 8942,
 8943,
 8944,
 8945,
 8946,
 8947,
 8948,
 8949,
 8950,
 8951,
 8952,
 8953,
 8954,
 8955,
 8956,
 8957,
 8958,
 8959,
 8960,
 8961,
 8962,
 8963,
 8964,
 8965,
 8966,
 8967,
 8968,
 8969,
 8970,
 8971,
 8972,
 8973,
 8974,
 8975,
 8976,
 8977,
 8978,
 8979,
 8980,
 8981,
 8982,
 8983,
 8984,
 8985,
 8986,
 8987,
 8988,
 8989,
 8990,
 8991,
 8992,
 8993,
 8994,
 8995,
 8996,
 8997,
 8998,
 8999,
 9000,
 9001,
 9002,
 9003,
 9004,
 9005,
 9006,
 9007,
 9008,
 9009,
 9010,
 9011,
 9012,
 9013,
 9014,
 9015,
 9016,
 9017,
 9018,
 9019,
 9020,
 9021,
 9022,
 9023,
 9024,
 9025,
 9026,
 9027,
 9028,
 9029,
 9030,
 9031,
 9032,
 9033,
 9034,
 9035,
 9036,
 9037,
 9038,
 9039,
 9040,
 9041,
 9042,
 9043,
 9044,
 9045,
 9046,
 9047,
 9048,
 9049,
 9050,
 9051,
 9052,
 9053,
 9054,
 9055,
 9056,
 9057,
 9058,
 9059,
 9060,
 9061,
 9062,
 9063,
 9064,
 9065,
 9066,
 9067,
 9068,
 9069,
 9070,
 9071,
 9072,
 9073,
 9074,
 9075,
 9076,
 9077,
 9078,
 9079,
 9080,
 9081,
 9082,
 9083,
 9084,
 9085,
 9086,
 9087,
 9088,
 9089,
 9090,
 9091,
 9092,
 9093,
 9094,
 9095,
 9096,
 9097,
 9098,
 9099,
 9100,
 9101,
 9102,
 9103,
 9104,
 9105,
 9106,
 9107,
 9108,
 9109,
 9110,
 9111,
 9112,
 9113,
 9114,
 9115,
 9116,
 9117,
 9118,
 9119,
 9120,
 9121,
 9122,
 9123,
 9124,
 9125,
 9126,
 9127,
 9128,
 9129,
 9130,
 9131,
 9132,
 9133,
 9134,
 9135,
 9136,
 9137,
 9138,
 9139,
 9140,
 9141,
 9142,
 9143,
 9144,
 9145,
 9146,
 9147,
 9148,
 9149,
 9150,
 9151,
 9152,
 9153,
 9154,
 9155,
 9156,
 9157,
 9158,
 9159,
 9160,
 9161,
 9162,
 9163,
 9164,
 9165,
 9166,
 9167,
 9168,
 9169,
 9170,
 9171,
 9172,
 9173,
 9174,
 9175,
 9176,
 9177,
 9178,
 9179,
 9180,
 9181,
 9182,
 9183,
 9184,
 9185,
 9186,
 9187,
 9188,
 9189,
 9190,
 9191,
 9192,
 9193,
 9194,
 9195,
 9196,
 9197,
 9198,
 9199,
 9200,
 9201,
 9202,
 9203,
 9204,
 9205,
 9206,
 9207,
 9208,
 9209,
 9210,
 9211,
 9212,
 9213,
 9214,
 9215,
 9216,
 9217,
 9218,
 9219,
 9220,
 9221,
 9222,
 9223,
 9224,
 9225,
 9226,
 9227,
 9228,
 9229,
 9230,
 9231,
 9232,
 9233,
 9234,
 9235,
 9236,
 9237,
 9238,
 9239,
 9240,
 9241,
 9242,
 9243,
 9244,
 9245,
 9246,
 9247,
 9248,
 9249,
 9250,
 9251,
 9252,
 9253,
 9254,
 9255,
 9256,
 9257,
 9258,
 9259,
 9260,
 9261,
 9262,
 9263,
 9264,
 9265,
 9266,
 9267,
 9268,
 9269,
 9270,
 9271,
 9272,
 9273,
 9274,
 9275,
 9276,
 9277,
 ...]

In [10]:
g = nx.read_edgelist('relation.txt', nodetype=int,create_using=nx.DiGraph())  # 读取网络信息
type(g)
len(g.nodes())

205730